numpy==1.17.3
scipy~=1.4.1
opencv-python==4.1.1.26
opencv-contrib-python==4.1.1.26
keras_applications
tensorflow-model-optimization
matplotlib~=3.2.1
tqdm~=4.48.2
pillow~=5.1.0
mnn~=1.0.3
Cython
pycocotools~=2.0.2
keras2onnx~=1.7.0
tf2onnx
onnx~=1.7.0
onnxruntime~=1.5.1
tfcoreml~=2.0
sympy
imgaug~=0.4.0
imagecorruptions
bokeh~=2.2.1
pathlib~=1.0.1
watchdog~=0.10.3